img {
    position: absolute;
    width: 128px;
    height: 128px;
    left: 5px;
}

img.small {
    width: 64px;
    height: 64px;
    left: 130px;
}

th,
td {
    text-align: left;
}

th {
    width: 100px;
}

* {
    overflow: visible;
    overflow-inline: visible;
}